@model LOS.WebApplication.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Stylesheet/accountServicesStyle.css" rel="stylesheet" />
<link href="~/Stylesheet/changePassword.css" rel="stylesheet" />

<body>
    <div style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4">
                    <div class="search-box">
                        <div align="center">
                            <h3>Change Password</h3>
                        </div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "loginForm", id = "changePasswordForm" }))
                        {
                            @Html.ValidationSummary(false, null, new { @class = "invalid-email", style = "margin-left: -10px;" });
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.OldPassword, new { type = "password", id = "oldPass", @class = "form-control", placeholder = "Old Password" })
                                @Html.TextBoxFor(x => x.NewPassword, new { type = "password", id = "newPass", @class = "form-control", placeholder = "New Password" })
                                @Html.TextBoxFor(x => x.NewPasswordConfirm, new { type = "password", id = "newPassConfirm", @class = "form-control", placeholder = "Confirm New Password" })
                                <input type="submit" id="changePasswordBtn" class="form-control" value="Update Password">
                            </div>
                            <div id="text-danger-password" align="center" style="margin-left: -10px; display: none;"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Validation.js"></script>
</body>
