@model LOS.Models.NavbarModel
@using LOS.Bussiness.Entities.IdentityModels;


<div style="display: block; background-color: #2e353d; padding-top: 30px; padding-bottom: 50px; color: wheat; width:100%;" align="center">
	<div class="col-sm-4">
		asd
	</div>
	<div class="col-sm-4">
		Da Jivee Fiora
	</div>
	<div class="col-sm-4">
		asd
	</div>
</div>
<script src="~/Scripts/footer.js"></script>
